{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block content %}
<style>
    .add-form{
        margin-top: 20px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        align-items: center;
    }
        .form-group {
        margin-bottom: 18px;
    }

    .form-group label {
        display: block;
        margin-bottom: 7px;
        font-weight: bold;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }

    .form-group textarea {
        height: 100px;
        resize: vertical;
    }

    .submit-btn{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 8px;
        background: rgb(21, 194, 21);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .submit-btn:hover {
        background: rgb(19, 160, 19);;
    }
</style>
<h1 style="text-align: center;">Update Task</h1>

<div class="update-container">

    <form class="task-form"
          method="post"
          enctype="multipart/form-data">

        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>

            <input
                name="title"
                value="{{todo.title}}"
                type="text"
                placeholder="Title">
        </div>


        <div class="form-group">
            <label>Description</label>

            <textarea
                name="description"
                placeholder="Description">{{todo.description}}</textarea>
        </div>
        
        <div class="form-group">
            <label>Due Date</label>

            <input
                name="due_date"
                value="{{ todo.due_date|date:'Y-m-d' }}"
                type="date">
        </div>
        <div class="form-group">
        <label>
            <input type="checkbox" name="completed"
                {% if todo.completed %}checked{% endif %}>
                Completed
        </label>
         </div>


        <div class="form-group">
            <label>Priority</label>
            <select name="priority">
            <option value="Low" {% if todo.priority == "Low" %}selected{% endif %}>Low</option>
            <option value="Medium" {% if todo.priority == "Medium" %}selected{% endif %}>Medium</option>
            <option value="High" {% if todo.priority == "High" %}selected{% endif %}>High</option>
        </select>
        </div>
        


        <button type="submit" class="submit-btn">
            Update Task
        </button>

    </form>


</div>

{% endblock %}